<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levelData</key>
	<array>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
		<dict>
			<key>bestTime</key>
			<integer>99999</integer>
			<key>complete</key>
			<false/>
		</dict>
	</array>
	<key>showInstructions</key>
	<true/>
	<key>completedGame</key>
	<false/>
</dict>
</plist>
