<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>blue-block-bottom-left.png</key>
		<dict>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>blue-block-bottom-right.png</key>
		<dict>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>blue-block-top-left.png</key>
		<dict>
			<key>x</key>
			<integer>128</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>blue-block-top-right.png</key>
		<dict>
			<key>x</key>
			<integer>98</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>blue-block.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>checkered-block.png</key>
		<dict>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>down-arrow.png</key>
		<dict>
			<key>x</key>
			<integer>224</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>left-arrow.png</key>
		<dict>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>right-arrow.png</key>
		<dict>
			<key>x</key>
			<integer>288</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>up-arrow.png</key>
		<dict>
			<key>x</key>
			<integer>320</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>ball.png</key>
		<dict>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>boost-down.png</key>
		<dict>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>64</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>boost-left.png</key>
		<dict>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>64</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>boost-right.png</key>
		<dict>
			<key>x</key>
			<integer>224</integer>
			<key>y</key>
			<integer>64</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>boost-up.png</key>
		<dict>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>64</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>spikes-down.png</key>
		<dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>32</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>spikes-left.png</key>
		<dict>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>34</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>spikes-right.png</key>
		<dict>
			<key>x</key>
			<integer>224</integer>
			<key>y</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>spikes-up.png</key>
		<dict>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>32</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>blue-block-breakable.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>toggle-switch-off.png</key>
		<dict>
			<key>x</key>
			<integer>128</integer>
			<key>y</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>toggle-switch-on.png</key>
		<dict>
			<key>x</key>
			<integer>96</integer>
			<key>y</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>green-block-off.png</key>
		<dict>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>green-block-on.png</key>
		<dict>
			<key>x</key>
			<integer>64</integer>
			<key>y</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>red-block-off.png</key>
		<dict>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>64</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>red-block-on.png</key>
		<dict>
			<key>x</key>
			<integer>64</integer>
			<key>y</key>
			<integer>64</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>peg.png</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>72</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>16</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>16</integer>
			<key>originalHeight</key>
			<integer>16</integer>
		</dict>
		<key>arrow-blue-dl.png</key>
		<dict>
			<key>x</key>
			<integer>288</integer>
			<key>y</key>
			<integer>64</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>arrow-blue-dr.png</key>
		<dict>
			<key>x</key>
			<integer>320</integer>
			<key>y</key>
			<integer>64</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>arrow-blue-ul.png</key>
		<dict>
			<key>x</key>
			<integer>288</integer>
			<key>y</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>arrow-blue-ur.png</key>
		<dict>
			<key>x</key>
			<integer>320</integer>
			<key>y</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>time-pickup.png</key>
		<dict>
			<key>x</key>
			<integer>104</integer>
			<key>y</key>
			<integer>72</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>16</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>16</integer>
			<key>originalHeight</key>
			<integer>16</integer>
		</dict>
		<key>test.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>96</integer>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>192</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>test2.png</key>
		<dict>
			<key>x</key>
			<integer>128</integer>
			<key>y</key>
			<integer>96</integer>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>192</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>test3.png</key>
		<dict>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>96</integer>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>192</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>test4.png</key>
		<dict>
			<key>x</key>
			<integer>384</integer>
			<key>y</key>
			<integer>96</integer>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>192</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
	</dict>
</dict>
</plist>